.navbar-light .navbar-nav {
    top: -28px;
}

.navbar-light .navbar-nav .nav-item {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 3px;
    color: white;
    background: black;
    border-radius: 50px;
    padding: 10px;
}

.navbar-light .navbar-nav .nav-item:hover {
    color: black;
    background: #CDDC39;
    border-radius: 50px;
    padding: 10px;
    transform: rotate(360deg);
    transition: all 0.4s;
}

#main .bg-overlay {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .3)), url("./images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}

#main h1 {
    font-weight: 800;
    padding-top: 22px;
    font-size: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main h3 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main .booking-form {
    margin-top: 60px;
    background-color: #fff;
    padding: 0px 9px;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

#main .booking-form h4 {
    color: black;
    text-align: center;
}

#main .booking-form h5 {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: black;
    text-align: center;
}

#main .booking-form p {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
}

#main .booking-form .form-group {
    position: relative;
    margin-bottom: 5px;
}

#main .booking-form .form-control {
    background-color: #ebecee;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
}

#main .booking-form .form-control:-ms-input-placeholder {
    color: rgba(62, 72, 92, 0.6);
}

#main .booking-form .form-control::placeholder {
    color: rgba(62, 72, 92, 0.6);
}

#main .booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#main .booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(62, 72, 92, 0.3);
    font-size: 14px;
}

#main .booking-form select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#main .booking-form .form-label {
    display: inline-block;
    color: #3e485c;
    font-weight: 700;
    margin-bottom: 6px;
    margin-left: 7px;
}

#main .btn {
    color: black;
    margin-bottom: 12px;
    font-size: 18px;
    background-color: #CDDC39;
    font-weight: 100;
    border-radius: 4px;
    transition: 0.2s all;
}

footer .fa {
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}